<!DOCTYPE html>
<html>
  <head>
    <title>PolyMerlin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_pack_tag "application" %>
  </head>

  <body>
    <nav class="top-navbar">
      <div class="poly-merlin-logo"></div>
      <a href="">PolyMerlin</a>
      <button>Sign In</button>
    </nav>
    
    <div class="container">
      <%# Action Banner Section %>
	    <%= react_component("ActionBanner") %>

      <%# Dashboard Section %>
      <section class="dashboard">
        <%= react_component("Dashboard", { copolymer_series: ["Pet Substitute", "Nitrile"] }) %>
        <%= react_component("CopolymerSeries", {
            name: "PET Substitute", 
            id: 1,
            description: "It's a substitute for PET.", 
            groupA: {
              name: "Diester",
              num: 2
            },
            groupB: {
              name: "Diol",
              num: 1
            }
          }) 
        %>
      </section>
    </div>
  </body>
</html>
